@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/700.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffff;
  background-color: #262626;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  min-width: 358px;
  /* max-width: 1440px; */
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #262626;
    background-color: #ffffff;
  }
}
